@model NexusCorpFilmReview.Models.ReviewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        <h1>@Model.Review</h1>
        <h2>@Model.ReviewDateAdded</h2>
        <h3>@Model.UserID</h3>
    </div>
</body>
</html>
