@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Nexus Corp Is A Renowned Film-Discussion Website, Which Promotes Interaction Through Making Reviews, Comments and Gossips. Details about the Latest Films, Actors, Directors etc.
    In 2019 four Friends decided to open a website for film lovers who are an entertainment fan looking for a recommendation, or to share an opinion with others and as a result we develop "Nexus Corporation Film Review Website""
    We let Film lover to know the details about their favourite Films, Actor and Directors. We thought it will be great if they can also share their thought with us rather than just knowing about the film details. So, within our
    website Film fans can write comments for Actor and Director. They can also write reviews and rate the film as well. Isn’t it just amazing? All in one website. No need to use another social media to share your thought for your 
    favourite Films. Actors and Directors.
</p>
