@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@* postal Address of the company *@
<address>
    Nexus Corporation.<br />
    De MontFort University. <br />
    Gateway House, <br />
    Leicester, LE1 9BH <br />
    <abbr title="Phone">P:</abbr>
    01162551551
</address>

@* Email Address for the company to contact *@
<address>
    <strong>Help:</strong>   <a href="mailto:help@nexus.com">help@nexus.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@nexus.com">marketing@nexus.com</a>
</address>