@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nexus Corporation</h1>
    <p class="lead">Nexus Corp Is A Renowned Film-Dicussion Website, Which Promotes Interaction Through Making Reviews, Comments and Gossips.
    Details About The Latest Films, Actors, Directors etc. Can Be Seen, Just Click On One Of The Buttons Below & Let The Magic Begin</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What's Good To Watch</h2>
        <p>
            Take a sneak peak at our latest and most popular films here! From Intense Action Scenes, To Hillarious Comedy Skits and Love Story Romances - 
            We Have It All!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Films", "Index", "Films") </a></p>
    </div>
    <div class="col-md-4">
        <h2>Cinema Conversations</h2>
        <p>Keep Up-To-Date With The Latest Movie News & Trends! View Our Page For All Of The Hottest Gossip</p>
        <p><a class="btn btn-default" @Html.ActionLink("Gossip", "Index", "Gossips") </a></p>
    </div>
    <div class="col-md-4">
        <h2>Famous Figures</h2>
        <p>Learn More About & Look At Some Of The World's Most Popular Actors & Directors</p>
        <p><a class="btn btn-default" @Html.ActionLink("Actors", "Index", "Actors") </a></p>
        <p><a class="btn btn-default" @Html.ActionLink("Directors", "Index", "Directors") </a></p>
    </div>
</div>